main{
    width: 100%; 
    height: 100%; 
}
section{
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%; 
    height: 55px; 
    background-color: #F38E8E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
svg{
    width: 26px;
    height: 23px;
    position: relative;
    top: 16px;
    left: 25px;
}
.input_box{
    width: 240px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
}
.search_tab{
    outline: none;
    border: none;
    width: 180px;
    height: 25px;
    position: absolute;
    background-color: transparent;

}
#search{
  position: absolute;
  right: 84px;
}
img{
    width: 24px;
    height: 24px;
}
#wirte_btn{
    width: 24px;
    height: 24px;
    position: relative;
    top: 18px; 
    right: 23px; 
}
.category_buttons{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.buttons_{
    border-radius: 20px;
    background-color: #EBEBEB;
    width: 71px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color : #787878;
}
.buttons_ div{
    font-size: 12px;
    width: fit-content;
    height: fit-content;
    margin-right: 5px;
}
.buttons_ img{
    width: 10px;
    height: 8px;
}
.basic{
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    width:74px;
    height: 28px;
    color: black;
    font-size: 12px;
    background-color: white;
}
.basic img{
    width: 18px;
    height: 12px;
    margin-right: 1px;
}
.foodkinds{
    width: 93px;
    height: 28px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.join_box{
  width: 100%; 
  height: calc(100% - 55px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.join_box_first, .join_box_second{
    width:330px;
    height: 281px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 2px rgba(166, 166, 166, 0.25);
    margin-bottom: 27px;
    position: relative;

}
.join_first_img{
    width: 100%; 
    height: 50%;
    background: url('../img/Mask\ group.png');
    background-repeat: no-repeat;
}
.join_second_img{
    width: 100%; 
    height: 50%;
    background: url('../img/Mask\ group\ \(1\).png');
    background-repeat: no-repeat;
}
.personal_info{
    width: 50%; 
    height: 30px;
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.profil_img{
    width: 30px;
    height: 30px;
}
._first{
    background: url('../img/profile.png');
    background-repeat: no-repeat;
}
._second{
    background: url('../img/profile2.png');
    background-repeat: no-repeat;
}
.name{
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    font-weight: 500;
    margin-left: 12px;
}
.join_box_title{
    font-size: 16px;
    font-weight: 600;
    margin-top: 4px;
    margin-left: 29px;
}
svg, .menu_icon{
    width: 14px;
    height: 14px;
}
.meal_info_div{
    display: flex;
    flex-direction: column;
   
}
.meal_info_div img{
    width: 100px;
    height: 120px;
    position: absolute;
    bottom:0;
    left: 29px;
}

.main_buttons{
    width: fit-content; 
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 9px;
    bottom: 0px;
}
.button{
    width: 57px;
    height: 28px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 13px;
    border-radius: 5px;
    border: 1px solid #F38E8E;
}
.joint_ {
    color: white;
    background-color: #F85454;
}
.read_more_ {
    color:#F38E8E;
    background-color: white;
}




