/* 
#first_loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loading_start{
    animation : fadeout 3s;
}

@keyframes fadeout {
    from {
        
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
/* img{
    display: block;
    width: 168px;
    height: 166px;
} */ 
main{
    box-sizing: border-box;
    padding: 0px 42px;
}
section{
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:187px;
}
#logo{
    box-sizing: border-box;
    position: relative;
    width: 60px;
    height: 53px;
}
#logo img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.input_div{
    box-sizing: border-box;
    width: 306px;
    height: 124px;
    border: 1px solid #757575;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom : 28px;
    background-color: transparent;
}
.input_box{
    box-sizing: border-box;
    width: 100%;
    height : calc(100% / 2);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    padding-left: 16px;
}
.first{
    border-bottom:1px solid  #757575;
}
.input_img{
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    position: relative;
    left: 0px;
}
#nickname, #password{
    position: relative;
    right: 0;
}

svg{
    width: 24px;
    height: 24px;
  
}

input{
    position: absolute;
    height: 90%;
    width: 80%;
    background-color: transparent;
    outline: none;
    border: none; 
}
button{
    box-sizing: border-box;
    width: 100%; 
    height: 52px;
    border-radius: 10px;
    border : none; 
    background-color: #F38E8E;
    color: white;
}
.signup_div{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 19px;
    display: flex;
    flex-direction: row;
    /* background-color: #757575; */
    margin-top: 28px;
}
.signup_box{
    width: calc(100% / 2);
    height: 100%;
    justify-content: center;
    display: flex;
    font-size: 14px;
}
.first_box{
    border-right: 1px solid #757575;
    color:#757575
}
.sec_box{
    color: #F85454;
}
